@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* by default css takes only the element,
    so if you have a padding then it pushes the element outside the screen dimension.
    By taking the padding + element, the box-sizing solves this issue. */    
}

html {
    height: 100%;
}

body {
    margin:0;
    height: 100%;
}

section {
    padding: 0 60px 0 60px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 30px;
}

button {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    color: whitesmoke;
    background-color: #52B6C2;
}

button:hover {
    background-color: whitesmoke;
    color: #52B6C2;
}


/* main button
 and hover designs */ 
.main {
    padding: 12px 28px;
    border: 2px solid #52B6C2;
    border-radius:2px;
}

.main:hover {
    border: 2px solid #52B6C2;
}


/* intro section
 + article + button design */
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    background-image: url(img/blocksbeach.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100%;
}

#intro article {
    width: 50%;
    color: whitesmoke;
}

#intro button {
    margin-top: 30px;
    margin-bottom: 60px;
}


/* ccl section design */
#ccl {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ccl > * {
    width: 30%;
}

/* ccl section responsive : ccl section turns into a column*/ 
@media only screen and (max-width: 960px) {
    #ccl {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
}

@media only screen and (max-width: 960px) {
    #ccl > * {
        width: auto;
    }
}

/* ccl section 
p + h4 + div designs */
#ccl p {
    font-size: 1rem;
    color: rgb(180, 180, 180);
    text-align: center;
}

#ccl h4 {
    text-align: center;
    text-transform: uppercase;
    color: #52B6C2;
}

#ccl div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ccl button {
    padding: 4px 6px;
    border-radius:2px;
    border: 1px solid #52B6C2;
    margin-left: 10px;
    margin-bottom: 20px;
}

#ccl button:hover {
    border: 1px solid whitesmoke;
}


/* footer
copyright designs */
footer {
    background-color: black;
    color: whitesmoke;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright {
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
}
    