@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* by default css takes only the element,
    so if you have a padding then it pushes the element outside the screen dimension.
    By taking the padding + element, the box-sizing solves this issue. */    
}

html {
    height: 100%;
}

body {
    margin:0;
    height: 100%;
}

section {
    padding: 0 60px 0 60px;
}

/* section responsive : reduce the padding for small screen */
@media only screen and (max-width: 960px) {
    section {
        padding: 0 25px 0 25px;
    }
}



h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 30px;
}

/* "a" stands for a button with a link */
a {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    color: whitesmoke;
    background-color: #52B6C2;
    text-decoration: none;
}

a:hover {
    background-color: whitesmoke;
    color: #52B6C2;
}


/* main button "a" and hover designs */ 
.main {
    padding: 12px 28px;
    border: 2px solid #52B6C2;
    border-radius:2px;
}

.main:hover {
    border: 2px solid #52B6C2;
}


/* intro section + p + h1 + button design */
#intro {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/blocksbeach.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
}

#intro * {
    max-width: 50%;
}

#intro a {
    margin-top: 30px;
    margin-bottom: 60px;
    /* display: inline-block; */ /* As "a" is inline by default then it avoids the margins ; except if its dorect parents is a flex */
}

/* intro * responsive : enlarge the article space */
/* mx-width 960px means all screen  size smaller than 960px*/
@media only screen and (max-width: 960px) {
    #intro * {
        max-width: 80%;
    }
    #intro h1 {
        font-size: 2.5rem;
    }
}


/* ccl section design */
#ccl {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ccl > * {
    width: 30%;
}

/* ccl section responsive : ccl section turns into a column*/ 
@media only screen and (max-width: 960px) {
    #ccl {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
}

@media only screen and (max-width: 960px) {
    #ccl > * {
        width: auto;
    }
}

/* ccl section p + h4 + div designs */
#ccl p {
    font-size: 1rem;
    color: rgb(180, 180, 180);
    text-align: center;
}

#ccl h4 {
    text-align: center;
    text-transform: uppercase;
    color: #52B6C2;
}

#ccl div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ccl a {
    padding: 6px 8px;
    border-radius:2px;
    border: 1px solid #52B6C2;
    margin-left: 10px;
    margin-bottom: 20px;
}

#ccl a:hover {
    border: 1px solid whitesmoke;
}


/* footer + copyright designs */
footer {
    background-color: black;
    color: rgb(180, 180, 180);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small {
    margin-bottom: 10px;
}