@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    margin:0;
    height: 100%;
}

section {
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    min-height: 100%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 30px;
}

button {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    color: whitesmoke;
    background-color: #52B6C2;
    border: 2px solid #52B6C2;
    border-radius:2px;
    padding: 12px 28px;
}

button:hover {
    background-color: whitesmoke;
    border: 2px solid #52B6C2;
    color: #52B6C2;
}



/* Detailed style elements*/

#intro {
    background-image: url(img/blocksbeach.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: auto;
}

#intro article {
    width: 50%;
    color: whitesmoke;
}

#intro button {
    margin-top: 30px;
    margin-bottom: 60px;
}

#ccl {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 20%;
}

#ccl > * {
    width: 30%;
}

#ccl h4 {
    text-align: center;
    font-size: 2rem;
    color: #52B6C2;
}

#ccl div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#ccl div button {
    padding: 8px 8px;
    border: none;
}

footer {
    padding: 0 10px 0 10px;
    background-color: black;
    color: whitesmoke;
    min-height: 10%;
    width: auto;
    display: flex;
    direction: column;
    justify-content: center;
    align-content: center;
}

#copyright {
    font-size: 1rem;
}
    